spring:
  application:
    name: zuul
  cloud:
    config:
      override-none: true

server:
  port: 3001

eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka


zuul:
  routes:
    item-service: /item-service/**
    user-service: /user-service/**
    order-service: /order-service/**
  retryable: true #启动重试功能

ribbon:
  MaxAutoRetries: 1

item-service:
  ribbon:
    MaxAutoRetriesNextServer: 2
    
 #设置超时时间
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 500
                 #暴露端点            
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream